<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOMETHING</title>
  {{!-- add links here for css --}}
</head>

<body>
      <!-- Add header here -->
      {{{ body }}}
    <footer>
      {{!-- add footer content --}}
    </footer>
  </div>

{{!--  import main js--}}
</body>

</html>